.landing-wrapper {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
}

.landing-content {
  width: 100%;
}

.landing-resume {
  background: black;
  padding: 1rem;
  width: 300px;
}

.landing-modal {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;

  .landing-modal-content {
    background: black;
    height: auto;
    padding: 1rem;
    width: 200px;

    h4 {
      margin: 0px;
    }
  }
}

.landing-button-container {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

.resume-item {
  margin: 1rem 0;
  opacity: 0.5;

  &.enabled {
    opacity: 1;
    font-weight: 400;
  }

  &.active {
    list-style-type: square;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.form-container {
  width: 50%;

  .title {
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
    width: 100%;
  }

  .text-input {
    border-radius: 10px;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 100%;
  }

  .form-error {
    font-size: 12px;
    margin-top: 5px;
    color: rgba($color: #FFFFFF, $alpha: 0.9);
  }
}

@media (max-width: 800px) {
  .form-container {
    width: 80%;
  }

  .resume-wrapper {
    font-size: 10px;
    height: 400px;
    margin-top: -100px;
    overflow: scroll;
    width: 100%;
  }
}
