@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  background: url(./assets/background.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

strong {
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  margin: 0px;
}

li {
  list-style-type: none;
}

.flex-container {
  display: flex !important;
  flex: 1 auto;
  width: 100%;

  &.column {
    flex-direction: column;
  }
  &.align {
    align-items: center;
  }
  &.justify {
    justify-content: center;
  }
  &.direction-row {
    flex-direction: row;
  }
  &.end {
    justify-content: flex-end;
  }
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.start {
    justify-content: flex-start;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.container-60 {
    width: 60%;
  }
}

.button-primary {
  background: #134074;
  border: 1px solid #eef4ed;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  margin-top: 1rem;
  padding: 10px 15px;
}
